.table-container {
    background: #161a1d;
    padding: 30px;
    border-radius: 8px;
    width: 100%; /* 👈 más ancho horizontal */
    max-width: 1900px; /* 👈 límite en pantallas grandes */

    margin: 0px auto 0 auto; /* 👈 centrado */
}


.table-title {
    color: #b1a7a6;
    margin-bottom: 20px;
    font-size: 33px;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    color: #7a85b4;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 15px;
}

tbody tr {
    border-top: 2px solid #1f2430;
}

tbody td {
    color: #fff;
    padding: 16px 10px;
    font-size: 18px;
}

tbody tr:hover {
    background: #1a1f2c;
}

/* Badges */
.badge {
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

    .badge.approved {
        color: #1cff8d;
        border: 1px solid #1cff8d;
    }

    .badge.pending {
        color: #ffc107;
        border: 1px solid #ffc107;
    }

    .badge.rejected {
        color: #ff4d4d;
        border: 1px solid #ff4d4d;
    }


.table-registros {
    background: #161a1d;
    padding: 25px;
    border-radius: 6px;
    width: 100%; /* más ancho */

    max-width: 1100px; /* límite en pantallas grandes */
    margin: 60px auto 0 auto;
}

.table-title {
    color: #b1a7a6;
    margin-bottom: 20px;
    font-size: 33px;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    color: #7a85b4;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 15px;
}

tbody tr {
    border-top: 2px solid #1f2430;
}

tbody td {
    color: #fff;
    padding: 16px 10px;
    font-size: 18px;
}

tbody tr:hover {
    background: #1a1f2c;
}

/* Badges */
.badge {
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

    .badge.approved {
        color: #1cff8d;
        border: 1px solid #1cff8d;
    }

    .badge.pending {
        color: #ffc107;
        border: 1px solid #ffc107;
    }

    .badge.rejected {
        color: #ff4d4d;
        border: 1px solid #ff4d4d;
    }

input,
textarea,
select {
    border: none;
    background: rgba(0,0,0,0.15);
    border-bottom: 1px solid #ccc;
    padding: 8px 4px;
    font-size: 14px;
    outline: none;
    color: #fff;
}

    input:focus,
    textarea:focus,
    select:focus {
    }

    select option {
        background: #161a1d; /* mismo fondo del formulario */
        color: #fff;
    }

    select:focus {
        outline: none;
        box-shadow: 0 0 0 2px #5fa8d3;
    }

    select::selection {
        background: #5fa8d3;
        color: #fff;
    }


/* FORZAR FOOTER NEGRO */
footer,
.main-footer {
    background-color: #000 !important;
    color: #fff !important;
    border-top: 1px solid rgba(255,255,255,0.1);
}
/* FORZAR INPUTS TRANSPARENTES */
.field input,
.field textarea,
.field select {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid rgba(255,255,255,0.4) !important;
    color: #fff !important;
}

    .field input:focus,
    .field textarea:focus,
    .field select:focus {
        background-color: transparent !important;
        outline: none;
        box-shadow: none;
    }

.ReadOnly {
    cursor: not-allowed
}

.form-floating > label {
    background-color: transparent !important;
    padding: 0 5px;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    background-color: transparent !important;
}